.wrapper {
  padding: 75px 0;
}

.content {
  padding: 150px 40px;
  border-top: 1.5px solid rgba(white, 0.1);
  border-bottom: 1.5px solid rgba(white, 0.1);

  color: #11f4d1;
  font-size: 36px;
  line-height: 55px;
  font-style: italic;
  font-weight: 300;
  text-align: center;

  @media (max-width: 768px) {
    padding: 50px 20px;
    font-size: 18px;
    line-height: 28px;
  }
}
