.btn {
    font-family: "Poppins", sans-serif;
    padding: 0 23px;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    font-size: 14px;
    line-height: 10px;
    height: 50px;

    &.default {
        background-color: #11f4d1;
        color: #4c5576;
        border: none;

        &:hover {
            background-color: #9af3e9;
        }
    }

    &.outline {
        background: transparent;
        color: #11f4d1;
        border: 2px solid #11f4d1;

        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }
}
